.flex{
    display: flex;
}
.moreInfo{
    margin-left: 4rem;
    margin-top: 2rem;
    p{
        margin-top: 0px;
    }
    h4{
        margin-bottom: 0px;
    }
}
.principalInfo{
    width: 900px;
}