@import "../../scss/variables";

.welcome {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 97.4vw;
}
.profile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
span {
  color: $lavanda;
}
h3 {
  margin-left: 32px;
}
